body{
    background-image: url('img/PrimerFondo.png');
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x: hidden;
}
nav {
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color: grey;
    padding: 20px;
}
#SeccionesM{
    display: flex;
    list-style: none;
    margin: 15px;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Popins', sans-serif;
    position: absolute;
    justify-content: flex-end;
}

#SeccionesM li{
    position: relative;
    list-style: none;
}

#SeccionesM li a{
    position: relative;
    margin: 10px;
    text-transform: uppercase;
    font-size: 1em;
    color:black;
    -webkit-text-stroke: 10px, rgba(1,0,0,1);
    text-decoration: none;
    white-space: nowrap;
}

#SeccionesM li a::before{
    content: attr(data-text);
    position: absolute;
    color: var(--clr);
    width: 0;
    overflow: hidden;
    transition: 1s;
    border-right: 3px solid var(--clr);
    -webkit-text-stroke: 1px var(--clr);
    white-space: nowrap;
}

#SeccionesM li a:hover::before{
    width: 100%;
    filter: drop-shadow(0 0 25px var(--clr))
}

#MiImagen {
    width: 250px;
    height: auto;
    position: fixed;
    bottom: 0;
    right: 0;
    margin-bottom: 20px;
    margin-right: 20px;
}

#Secciones {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Popins', sans-serif;
    position: absolute;
    top: 45%;
    right: 5%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: flex-end;

}
#Secciones li{
    position: relative;
    list-style: none;
    
}
#Secciones li a{
    position: relative;
    font-size: 3em;
    text-decoration: none;
    line-height: 1em;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: black;
    -webkit-text-stroke: 10px, rgba(1, 0, 0, 1);
    text-shadow: -2px -2px 0 rgba(255,255,255,0.3), 2px -2px 0 rgba(255,255,255,0.3), -2px 2px 0 rgba(255,255,255,0.3), 2px 2px 0 rgba(255,255,255,0.3);
    white-space: nowrap;
}

#Secciones li a::before{
    content: attr(data-text);
    position: absolute;
    color: var(--clr);
    width: 0;
    overflow: hidden;
    transition: 1s;
    border-right: 8px solid var(--clr);
    -webkit-text-stroke: 1px var(--clr);
    text-shadow: -2px -2px 0 rgba(255,255,255,0.5), 2px -2px 0 rgba(255,255,255,0.5), -2px 2px 0 rgba(255,255,255,0.5), 2px 2px 0 rgba(255,255,255,0.5);
    white-space: nowrap;
    
}

#Secciones li a:hover::before{
    width: 100%;
    filter: drop-shadow(0 0 25px var(--clr))
}